.scramble {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scramble-text {
  text-align: center;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  max-width: 850px;
}